button {
   background-color: #a77065;
   font-size: 20px;
   border:none;
   padding: 13px 25px;
   align-content: center;
   text-decoration: none;
   color: #0000000;
   border-radius: 15px;
   transition-duration: 0.3s;
}
button:hover {
   background-color: #a7706580;
   color: #00000090;
}

#overskrift {
   color: #ffffff;
   background-color: #a77065;
   font-family:helvetica,arial,sans-serif;
   font-size: 23px;
   text-align: center;
}
.logo {
   text-align: center;
}